body {
    background: url("./imgs/cc038006.png") repeat fixed;
    background-color: #ff678d;
    display: flex;
    flex-wrap: wrap;

    .titleBar {
        align-items: center;
        background-color: #FF0000;
        color: #FFF;
        display: flex;
        flex-basis: 100%;
        font-size: 1.5em;
        justify-content: space-around;
        margin-bottom: 10px;
        padding: 10px;
    }

    table {
        background-color: #FFF;
        border:1px solid #FF0000;
        border-collapse:collapse;
    }

    table td {
        border:1px solid #FF0000;
    }

    table th {
        border:1px solid #FF0000;
    }
}
