* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #efefef;
}

nav {
    background-color: #43281c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size: 16px;
}

.brand-name {
    color: #fbf2c0;
}

img {
    height: 25px;
    position: relative;
    top: 3px;
}

.page {
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "order    customers-name"
        "total    total";
}

.box {
    background-color: #eee1d5;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    margin-bottom: 20px;
    width: 100%;
}

.page h2 {
    font-weight: normal;
    font-size: 16px;
    color: #885a2d;
}

.quantity {
    grid-area: quantity;
    margin: inherit;
}

.menu-item {
    display: grid;
    padding: 10px 0;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
        "quantity item cost"
        "quantity extras cost";
    border-bottom: 2px solid #DDB892;
    row-gap: 8px;
}

.cost {
    grid-area: cost;
    font-weight: bold;
    margin: inherit;
}

.extras-list {
    grid-area: extras;
    color: #B08968;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
}

.extras {
    margin-bottom: 5px;
}

.item {
    grid-area: item;
    font-weight: bold;
    margin: inherit;
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-item:last-child {
    border-bottom: none;
}

.order {
    grid-area: order;
}

.customer-payment {
    grid-area: customers-name;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.user-input {
    border: 2px solid #885a2d;
    padding: 8px;
    border-radius: 100px;
    background-color: #eee1d5;
    text-indent: 18px;
    font-size: 18px;
    width: 100%;
}

.name-input {
    background-color: #eee1d5;
    color: #885a2d;
    font-size: 11px;
    position: absolute;
    left: 25px;
    top: -7px;
    padding: 0 2px;
}

.card-input {
    background-color: #eee1d5;
    color: #885a2d;
    font-size: 11px;
    position: absolute;
    left: 25px;
    top: -7px;
    padding: 0 2px;
}

.short-input {
    max-width: 200px;
}

.card-number {
    margin-bottom: 12px;
    margin-top: 18px;
}

.cvv-number {
    margin-top: 12px;
}

.cvv-input {
    background-color: #eee1d5;
    color: #885a2d;
    font-size: 11px;
    position: absolute;
    left: 25px;
    top: -7px;
    padding: 0 2px;
}

.payment-info {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 31px;
}

.totals {
    grid-area: total;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.order-totals {
    width: 100%;
    max-width: 500px;
    margin-bottom: 30px;
}

.order-totals td {
    padding: 10px;
}

.order-totals td:last-child {
    text-align: right;
}

.total {
    font-weight: bold;
}

button {
    background-color: #deb993;
    border-radius: 100px;
    border: none;
    width: 100%;
    padding: 10px 30px;
    font-size: 16px;
}
